<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<!-- Аппендери http клиента -->
	<appender name="org.apache" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Append" value="true" />
		<param name="Threshold" value="TRACE" />
		<param name="File" value="../logs/http-client.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd.mm.yyyy HH:mm:ss} %t %c{10}:%M:%L%n%p: %m%n" />
		</layout>
	</appender>

	<!-- Аппендери хибернейта -->
	<appender name="hibernate" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Append" value="true" />
		<param name="Threshold" value="TRACE" />
		<param name="File" value="../logs/hibernate.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd.mm.yyyy HH:mm:ss} %t %c{10}:%M:%L%n%p: %m%n" />
		</layout>
	</appender>

	<!-- Аппендери спринга -->
	<appender name="spring" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Append" value="true" />
		<param name="Threshold" value="TRACE" />
		<param name="File" value="../logs/spring.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd.mm.yyyy HH:mm:ss} %t %c{10}:%M:%L%n%p: %m%n" />
		</layout>
	</appender>

	<!-- Аппендер quartz -->
	<appender name="quartz" class="org.apache.log4j.FileAppender">
		<param name="File" value="../logs/quartz.log" />
		<param name="Threshold" value="DEBUG" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd.MM.yyyy HH:mm:ss,SSS} %c [%p]: %m%n" />
		</layout>
	</appender>

	<!-- Аппендер отправки на email -->
	<appender name="email" class="org.apache.log4j.net.SMTPAppender">
		<param name="BufferSize" value="1" />
		<param name="To" value="ivanovdw@gmail.com" />
		<param name="From" value="rutracker.manager@yandex.ru" />
		<param name="Subject" value="RuTrackerBot" />
		<param name="SMTPHost" value="smtp.yandex.ru" />
		<param name="SMTPUsername" value="rutracker.manager@yandex.ru" />
		<param name="SMTPPassword" value="z1x2c3v4" />
		<param name="SMTPPort" value="587" />
		<!--param name="SMTPDebug" value="true" / -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd.MM.yyyy HH:mm:ss} %m%n" />
		</layout>
	</appender>

	<!-- Аппендер вывода на консоль -->
	<appender name="rutracker-console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<param name="Threshold" value="DEBUG" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%p: %m%n" />
		</layout>
	</appender>

	<!-- Аппендер программы -->
	<appender name="rutracker" class="org.apache.log4j.FileAppender">
		<param name="File" value="../logs/rutracker.log" />
		<param name="Threshold" value="DEBUG" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd.MM.yyyy HH:mm:ss,SSS} %c [%p]: %m%n" />
		</layout>
	</appender>

	<!-- Логгер http клиента -->
	<logger name="org.apache" additivity="false">
		<level value="info" />
		<appender-ref ref="org.apache" />
	</logger>

	<!-- Логгер хибернейта -->
	<logger name="org.hibernate" additivity="false">
		<level value="info" />
		<appender-ref ref="hibernate" />
	</logger>

	<!-- Логгер спринга -->
	<logger name="org.springframework" additivity="false">
		<level value="info" />
		<appender-ref ref="spring" />
	</logger>

	<!-- Логгер quartz -->
	<logger name="org.quartz" additivity="false">
		<level value="info" />
		<appender-ref ref="quartz" />
	</logger>

	<!-- Логгер программы -->
	<logger name="rutracker-console" additivity="false">
		<level value="debug" />
		<appender-ref ref="rutracker-console" />
	</logger>

	<!-- Логгер программы -->
	<logger name="rutracker" additivity="false">
		<level value="debug" />
		<appender-ref ref="rutracker" />
	</logger>

	<!-- Логгер отправки на email -->
    <logger name="email" additivity="false">
      <level value="debug"/>
      <appender-ref ref="email"/>
    </logger>
</log4j:configuration>