.groupSelect td {
    padding-right: 10px;
}

.tableStyle td, th {
    border: 1px solid black;                                                                                                          
    border-collapse: collapse;                                                                                                        
}                                                                                                                                     
                                                                                                                                      
.tableStyle {
    border-collapse: collapse;   
    width: 100%;                                                                                                     
}

.show{                                                                                                                                
    display: inline;                                                                                                                  
}                                                                                                                                     
                                                                                                                                      
.hide {                                                                                                                               
    display: none;                                                                                                                    
}

.sidebar {                                                                                                                            
    width: 1%;                                                                                                                        
    min-width: 120px;                                                                                                                  
}                                                                                                                                     
.content {                                                                                                                            
    width: 100%;                                                                                                                      
} 

body {
    background-color: rgb(0, 35, 75);
    font-family: consolans, tahoma, arial, helvetica, sans-serif;
    font-size: 12px;
}

.container {
    margin: 10px auto;
    /*     width: 900px; */
    background-color: white;
    padding: 3px;
}

.error {
    color: red;
}

.message {
     color: green;
}



/* h1 { */
/*     font-size: 20px; */
/* } */